@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/glyphicons-halflings-regular.woff') format('woff'),
    url('../font/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../font/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


@media screen and (device-width: 1920px){

    .popover {
        top: 48.5px;
        left: 1630px !important;
        display: block;
        width: 90% !important;

    }

    /*panel config*/
    .panel.panel-default.panel-config {
        width: 70%;
        margin: 0 15%;
    }

}

@media screen and (device-width: 1366px){

    .popover {left: 78.5% !important;}

}



html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}
h3 {margin-bottom: 2% !important;}

.alert{margin-bottom: 0 !important;}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

/*
* Popover login
*/
.arrow {left: 95% !important;}

#circle {
    background-color: #F0F0F7;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin-left: 20%;
}
#circle:hover {

}
.glyphicon-user.user_picture {
    position: relative;
    top: 25%;
    font-size: 1.8em;
    color: darkgray;
}
.glyphicon-user.user_picture:hover {
    color: #2B3E50;
}
.accountConfig {
    margin: 4% 2% 4% 0;
}
.popover-content {
    display: flex; !important;
}
.popover {width: 100% !important}
.nav-settings>li>a:hover {
    background-color: #4e5d6c;
}

/*
*  Ustawienia konta
*/
.tab-pane label{
    text-align: left !important;
}
.nav-settings {text-align: left}

/*
* conference site
*/
.conference-col{
    display: flex;
}
.select2-container {width: 100%}

/*
* Conference information
*/
.conference_info {
    text-align: left;
}
.conference_col {
    width: 50%;
}
.conference-row {
    margin: 5% 0;
}
.conference_information {
    margin: 0 2%;
}
.row.conference_podstawowe {
    text-align: left;
}
#map {
    width: 100%;
    height: 450px
}
.conference_tile {
    text-align: left;
}
.row.conference_description {
    text-align: justify;
}

/*
* submission
*/
.list-submission, .list-conference {
    text-align: left;
    margin: 4% 2%;
}
.list-conference button.btn.btn-success {
    margin-top: 2%;
}

.list-group-head {
    display: flex;
}
.review_table #reviewOpinion {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
    width: 400px;
}
#reviewDecision .radio {
    margin: 0;
    display: flex;
}
p.list-group-item-heading {

}
h4.list-group-item-heading {
    width: 100%;
    margin-bottom: 2%;
}
h5.list-group-item-heading {
    margin-bottom: 1%;
}

.list-submission ul li {
    margin-bottom: 3%;
}
.list-conference ul li {
    margin-bottom: 5%;
}
.list-submission button {
    margin-top: 2%;
}
.container-middle a.btn.btn-primary {
    margin-bottom: 5%;
}
.submission-message {
    margin-left: 84%;
}

/*
*   menu
*/
.navbar-menu {
    height: 4em !important;
}
.search-div input{
    height: 3em !important;
}

.nav-settings li a span {
    margin-right: 5%;
}

.input-form.input-birthday {
    display: flex;
}
span.glyphicon-conference {
    background-color: rgb(193, 193, 195) !important;
}
span.input-group-addon.add-on {
    width: auto;
}
span.glyphicon.glyphicon-ok {
    color: #5cb85c;
    font-size: 1.6em;
    text-align: center;
    width: 100%;
}
span.glyphicon.glyphicon-minus {
    color: #d9534f;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}
span.glyphicon.glyphicon-envelope {
    color: rgba(214, 214, 214, 0.21);
    font-weight: 900;
    font-size: 1.5em;
    cursor: pointer;
}

form#savePerson .form-group {
    display: -webkit-box;
}
form#changePassword .form-group {
    display: -webkit-box;
}
.form-review {padding: 2% 0}
.button-menu {
    height: 3em;
}
#savePerson label, #changePassword label{
    font-size: 1em;
}
#changePassword .input-form input{
    height: 3em;
    width: 100%;
}

.jumbotron {
    background-color: #2B3E50 !important;
}
h2.form-header {
    margin-bottom: 3%;
}
.conference-row {margin-top: 0 !important;}
.conference-col label {
    font-size: 1em;
}
.highlight {
    color: orange;
}

.list-conference a, .list-submission a{color: white}

.article-info {
    width: 60%;
    text-align: left;
}
.article-info p{margin-top: 2%}
.article {display: flex; margin: 5% 0; font-size: 1.2em;}
.article-info {
    width: 70%;
    text-align: left;
}
.article-raport button {
    margin: 0 10%;
}
.article-raport {
    display: flex;
}
.hiddenRow {
    display: none;
}
#reviewID span {
    margin: 0 5%;
    font-size: 1.1em;
}
tbody.review_table {
    font-size: 1.1em;
}
tbody.submission_table {
    font-size: 1.2em;
}
thead {
    font-size: 1.2em;
}
tr.roll {
    font-weight: 600;
}
.container.container-right a {
    color: azure;
}
/*
* Welcome
*/
a#btn-register {
    background-color: inherit;
    color: #fff;
    margin-left: 1%;
}
a#btn-register:hover {
    color: #000;
}
#loginModal .modal-content, #registerModal .modal-content, #forgetPasswordModal .modal-content {
    color: #000;
    background-color: #fff;
}
.datepicker {
    z-index: 10000 !important;
}
.article-addComments {
    margin: 5% 0;
}
.submission_table td:nth-child(5) {
    text-align: center;
}
.navbar-header, .btn-group, a{
    height: 100%;
}
ul.pagination {
    margin-left: 42%;
}
li.join-list {
    margin-top: 1%;
}
.join-list span.label.label-success {
    font-size: 1em;
}
.warning ul li{
    text-shadow: none;
    font-weight: 600;
    color: white;
}